.icon-doc {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 28px;
  height: 31px; }

.icon-phone {
  background-image: url(../../img/sprite.png);
  background-position: -28px -14px;
  width: 14px;
  height: 12px; }

.icon-time {
  background-image: url(../../img/sprite.png);
  background-position: -28px 0px;
  width: 15px;
  height: 14px; }
